/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jul 9, 2015, 8:10:12 AM
    Author     : Frankmer
*/

body{
    margin: 0%;
    padding: 0%;
}
header{
    /*text-align: center;*/
    text-transform: uppercase;
    font-size: x-large;
    font-family: 'Roboto', sans-serif;
    /*font-family: 'PT Serif', serif;*/
    margin: 0%;
    color:#bdc3c7;
    overflow: hidden;
    padding: 0%;
    padding-top: 3%;
    padding-bottom: 2%;
    padding-left: 10%;
    background-color: #2980b9;/*#96281B;*/
}
header .link{
    color: #bdc3c7;
}
header h1{
    float: left;
}
header img
{
    float:left;
    margin-top: 1%;
    width: 8%;
    overflow: hidden;
}
section{
    width: 76%;
    padding: 2%;
    margin: 0%;
    margin-left: 10%;
    margin-right: 10%;
    /*background-color: #bdc3c7;*/
    text-align: center;
    overflow: hidden;
}
.usr_nav{
    width: 89%;
    overflow: hidden;
    background-color: #2c3e50;
    color: #fff;
    padding: 1%;
    padding-right: 10%;
    box-shadow: 1px 1px 1px 1px rgba(255,255,255, 0.75)
}
.usr_nav ul{
    list-style: none;
    padding: 0%;
    margin: 0%;
}
.usr_nav ul li
{
    float: right;
    padding-right: 1%;
}
.usr_nav ul li a{
    color:#bdc3c7;
    text-decoration: none;
}
.usr_nav ul li a:hover{
    text-decoration: underline; 
}
footer
{
    margin: 0px;
    padding: 0px;
    width: 100%;
    text-align: center;
    font-size: small;
    margin-top: 5%;
    margin-bottom: 1%;
    color: #000;
}
.link
{
    text-decoration:none;
    color: #2c3e50;
}
.link:hover
{
    text-decoration:underline;
}
/*.link img{
    width: 0%;
    margin: 0px;
    padding: 0px;
}*/
select{
    width: 100%;
    padding: 2%;
    color: #000;
    border: none;
    background-color:#fff;
    margin: 0px;
    box-shadow: 2px 2px 2px 2px rgba(0,0,0,0.15);
    text-align: center;
    margin-bottom: 1%;
}
input{
    width: 96%;
    padding: 2%;
    color: #000;
    border: none;
    background-color:#fff;
    margin: 0px;
    box-shadow: 2px 2px 2px 2px rgba(0,0,0,0.15);
    text-align: center;
    margin-bottom: 1%;
}
.button{
    text-decoration: none;
    width: 98%;
    margin: 1%;
    background-color: #2980b9;
    color: #fff;
    box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.35);
    text-transform: uppercase;
    font-size: large;
}
.responsive-nav{
    width: 89%;
    overflow: hidden;
    background-color: #2c3e50;
    color: #fff;
    padding: 1%;
    padding-left: 10%;
    box-shadow: 1px 1px 1px 1px rgba(255,255,255, 0.75);
    text-transform: uppercase;
}
.responsive-nav ul{
    list-style: none;
    padding: 0%;
    margin: 0%;
}
.responsive-nav ul li
{
    float: left;
    padding-right: 1%;
}
.responsive-nav ul a li{
    color:#bdc3c7;
    text-decoration: none;
}
.responsive-nav ul a:hover li{
    text-decoration: underline; 
}
.responsive-content{
    margin: 1%;
    float: left;
    background-color: #fff;
    box-shadow: 1px 1px 5px 1px rgba(0,0,0,0.53);
    overflow: hidden;
    text-align: left;
}
.responsive-content h3{
    padding:10%;
    padding-top: 5%;
    padding-bottom: 3%;
    margin: 0px;
    text-transform: uppercase;
    color: #fff; 
    font-size: x-large;
    box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.25);
}
.responsive-content p{
    padding: 10%;
    margin: 0px;
    margin-top:5%;
    padding-top: 0%;
}
.responsive-content img{
    width: 100%;
}
.responsive-tab{
    width:100%;
    text-align: left;
    color:#7f8c8d;
    padding-bottom: 0px;
    padding-top: 0px;
}
.responsive-tab th{
    text-transform: uppercase;
    font-size: large;
    color:#34495e;
    font-family: 'Roboto Slab', serif;
    border-bottom: solid;
    text-align:left;
}
.b-green{
    background-color: #27ae60;
    color: #fff;
    padding: 2%;
    margin: 0px;
    padding-bottom: 0px;
    padding-top: 0px;
}
.b-yellow{
    background-color: #EC971F;
    color: #fff;
    padding: 1%;
    margin: 0px;
    padding-bottom: 0px;
    padding-top: 0px;
}
.b-blue{
    background-color: #3498db;
    color: #fff;
    padding: 1%;
    margin: 0px;
    padding-bottom: 0px;
    padding-top: 0px;
}
.b-red{
    background-color: #e74c3c;
    color: #fff;
    padding: 1%;
    margin: 0px;
    padding-bottom: 0px;
    padding-top: 0px;
}
.responsive-content p ul{
    list-style: none;
}
/*colors*/
.flat-red h3{
    background-color: #d14233;
}
.flat-blue h3{
    background-color: #3498db;
}
.flat-green h3{
    background-color: #27ae60;
}
.flat-dark-blue h3{
    background-color: #2c3e50;
}
.flat-orange h3{
    background-color: #f39c12;
}
.flat-purple h3{
    background-color: #8e44ad;
}
.flat-red{
    color: #d14233;
}
.flat-blue{
    color: #3498db;
}
.flat-green{
    color: #27ae60;
}
.flat-dark-blue{ 
    color: #2c3e50;
}
.flat-orange{
    color: #f39c12;
}
.flat-purple{
    color: #8e44ad;
}
.title{
    font-size: large;
    text-align: center;
    margin-top: 2%;
}
.hidden{
    display: none;
}
.responsive-form{
    width: 50%;
}
.responsive-form .title{
    float: left;
    width: 40%;
    text-align: left;
    overflow: hidden;
    font-size: medium;
    margin-bottom: 1%;
}
.responsive-form .input{
    float:right;
    width:58%;
    overflow: hidden;
    margin-bottom: 1%;
}
.responsive-dataShow .identificador{
    font-family: 'Roboto Slab', serif;
    font-size: large;
    text-align: left;
}
.responsive-dataShow .contenido{
    color: #7f8c8d;
    text-align: left;
    margin-left: 1%;
    font-size: large;
}
